<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NLP - Emotion Detection</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='mywebscript.js') }}"></script>
    <style>
        .center-heading {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="center-heading">NLP - Emotion Detection</h1> 
                
                <div class="mt-4">
                    <label for="textToAnalyze" class="form-label">
                        Please enter the text to be analyzed
                    </label>
                    <textarea class="form-control" id="textToAnalyze" rows="4"></textarea>
                </div>

                <div class="mt-4 text-center">
                    <button onclick="RunSentimentAnalysis()" class="btn btn-secondary">
                        Run Emotion Analysis
                    </button>
                </div>

                <div class="mt-5">
                    <label class="form-label">Result of Emotion Detection</label>
                    <div id="system_response" class="p-3 border rounded bg-light"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
